################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanCQRS.Api/FileContentIndex/23ce0684-168a-4ac2-8992-e22d83a0c22b.vsidx
